#ifndef PROJECT_SECRETS_H
#define PROJECT_SECRETS_H

#define WIFI_SSID "YOUR_WIFI_SSID"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD"
#define THINGSPEAK_CHANNEL_ID 0L
#define THINGSPEAK_WRITE_KEY "YOUR_THINGSPEAK_WRITE_KEY"
#define THINGSPEAK_READ_KEY "YOUR_THINGSPEAK_READ_KEY"

#endif